.header_container {
  max-width: 1215px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background: linear-gradient(180deg, rgba(24, 31, 39, 0.2) 0%, rgba(39, 44, 52, 0) 32.29%, rgba(43, 48, 56, 0) 100%);
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));

  position: absolute;
  top: 0;
  width: 100%;
}

.header .desktop_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header .desktop_header .menu_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.desktop_header .logo {
  width: 110px;
}

.desktop_header .normal_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.desktop_header .navigation {
  margin-left: 30px;
}

.desktop_header .normal_menu .menu {
  margin-left: 30px;
}

.desktop_header .normal_menu a,
.desktop_header .normal_menu span {
  color: #FFFFFF;
  font-weight: 600;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  transition: 300ms ease;
}

.desktop_header .normal_menu a:hover,
.desktop_header .normal_menu span.menu_item:hover {
  color: #E0833E;
}

.desktop_header .normal_menu span.menu_item {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.desktop_header .normal_menu span.menu_item .seta_baixo:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 0; 
  height: 0; 

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #FFFFFF;

  transition: 300ms ease;
}

.desktop_header .normal_menu span.menu_item .seta_baixo.on:before {
  transform: rotate(180deg);
}

.desktop_header .normal_menu span.menu_item:hover .seta_baixo:before {
  border-top: 5px solid #E0833E;
}

.desktop_header .normal_menu span.menu_item img {
  width: 10px;
}

.desktop_header .normal_menu .active {
  color: #E0833E;
}

.desktop_header .btn_store_menu {
  background: #E0833E;
  border: 2px solid #E0833E;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;

  transition: 300ms ease;
}

.desktop_header .btn_store_menu:hover {
  background: #800404;
  border: 2px solid #800404;
  transform: scale(0.97);
}

.desktop_header .normal_menu .dropdown {
  position: relative;
}

.desktop_header .normal_menu .dropdown .menu_dropdown {
  position: absolute;

  display: flex;
  flex-direction: column;

  margin-top: 10px;
  background: #181F27;
  padding: 15px;
  width: 195px;

  transition: 300ms ease-out;
}

.desktop_header .normal_menu .dropdown .menu_dropdown a {
  margin-bottom: 20px;
}

.desktop_header .normal_menu .dropdown .menu_dropdown a:last-child {
  margin-bottom: 0;
}

.desktop_header .normal_menu .dropdown .menu_dropdown.hide {
  display: none;
}

/* RESPONSIVO */
@media (max-width: 1250px) {
  .header_container {
    max-width: 1215px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1150px) {
  .desktop_header .navigation {
    margin-left: 20px;
  }

  .desktop_header .normal_menu .menu {
    margin-left: 20px;
  }

  .desktop_header .btn_store_menu {
    padding: 10px 20px;
  }
}

@media (max-width: 1050px) {
  .header_container {
    max-width: 1215px;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
  }

  .desktop_header .logo {
    width: 90px;
  }
}

/* MOBILE */
.mobile_header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(24, 31, 39, 0.7);
  padding: 0 25px;
  width: 100%;
  height: 60px;

  position: fixed;
  top: 0;
  z-index: 95;
}

.mobile_header .logo {
  width: 84px;
}

.hamburger {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  -webkit-box-shadow: 0px 0px 10px 0px rgba(142,154,173,0.2);
  box-shadow: 0px 0px 10px 0px rgba(142,154,173,0.2);

  cursor: pointer;
  transition: 500ms ease-in-out;
}

.hamburger:hover {
  transform: scale(1.05);
}

.hamburger .hamburger_element {
  width: 18px;
  height: 2px;
  background: #fff;
  border-radius: 5px;

  transition: 500ms ease-in-out;
}

.hamburger_element::before,
.hamburger_element::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 2px;
  background: #fff;
  border-radius: 5px;

  transition: 500ms ease-in-out;
}

.hamburger_element::before {
  transform: translateY(-6px);
}

.hamburger_element::after {
  transform: translateY(6px);
}

/* Animation */
.hamburger.active .hamburger_element {
  transform: translateX(-16px);
  background: transparent;
}

.hamburger.active .hamburger_element::before {
  transform: rotate(45deg) translate(11px, -11px);
}

.hamburger.active .hamburger_element::after {
  transform: rotate(-45deg) translate(11px, 11px);
}

.mobile {
  /* box-sizing: border-box; */
  width: 100vw;
  height: 100vh;
  background: #181F27;

  position: fixed;
  top: 0;
  z-index: 90;

  transform: translateY(-100vh);

  transition: 400ms ease-out;
}

.mobile.opened {
  /* display: flex; */
  /* visibility: visible; */
  /* opacity: 1; */
  transform: translateY(0);
}

.mobile .mobile_navigation {
  padding-top: 60px;

  position: absolute;
  z-index: 4;
}

.mobile .mobile_navigation .mobile_menu {
  margin-top: 80px;
  margin-left: 25px;
}

.mobile .mobile_navigation .mobile_menu .mobile_menu_item {
  margin-bottom: 30px;
}

.mobile .mobile_navigation .mobile_menu .mobile_menu_item a {
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
  padding: 5px 0 5px 25px;
}

.mobile .mobile_navigation .mobile_menu .mobile_menu_item a.active {
  color: #E0833E;
  border-left: 4px solid #E0833E;
  padding: 5px 0 5px 21px;
}

/* RESPONSIVE - CONTROLA SE O MENU EXIBIDO É O MOBILE OU O DESKTOP */
@media (max-width: 700px) {
  .header .desktop_header {
    display: none;
  }
}

@media (min-width: 701px) {
  .mobile {
    display: none;
  }

  .mobile_header {
    display: none;
  }
}